@import "tailwindcss";

@theme {
  --color-background: #FBF3E7;
  --color-ink: #111111;
  --color-surface: #FFFFFF;

  --color-pink: #F6B8D9;
  --color-blue: #AEDBFF;
  --color-yellow: #FFE38C;
  --color-mint: #B7F2D6;
  --color-purple: #D6C3FB;

  --font-display: var(--font-space-grotesk);
  --font-body: var(--font-inter);
}

@layer base{
  body {
    background-color: var(--color-background);
    color: var(--color-ink);
    font-family: var(--font-body);
  }
}