@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-ink: #000000;
  --color-surface: #FFFFFF;

  --color-pink: #FF4FD8;
  --color-blue: #00C2FE;
  --color-yellow: #F8D623;
  --color-mint: #B7F2D6;
  --color-purple: #D6C3FB;

  --font-display: var(--font-space-grotesk);
  --font-body: var(--font-inter);
}

@layer base{
  body {
    background-color: var(--color-background);
    color: var(--color-ink);
    font-family: var(--font-body);
  }
}